{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MADHAN FITNESS</title>
  <meta content="" name="description">
  <meta content="" name="keywords">




  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  
  <link href="static/assets/css/style.css" rel="stylesheet">

 
</head>

<body>


  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <a href="index.html" class="logo me-auto me-lg-0"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>
      <h1 class="logo me-auto me-lg-0"><a href="/">MADHAN FITNESS</a></h1>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/about">About</a></li>
          <li><a class="nav-link scrollto " href="/gallery">Gallery</a></li>
          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
          <li class="dropdown"><a href="/"><span>Memberships</span> <i class="bi bi-chevron-down"></i></a>
             <ul>
          
              <li><a href="/join">Enroll</a></li>
             
              <li><a href="/attendance">Attendance</a></li>

              <li><a href="/profile">View Profile</a></li>

          </ul>
          </li>

          {% if not request.user.is_authenticated %}

          <li><a class="nav-link scrollto" href="/signup">Signin</a></li>
         {% else %}
         <li><a class="nav-link scrollto" href="/logout">Logout</a></li>


         {% endif %}





        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>
  
  


  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
           <h1>Stop wishing start doing...</h1>
          <h2>Join my Fitness mania </h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a href="">Cardio</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="">Strength training</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="">Weight training</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-paint-brush-line"></i>
            <h3><a href="">Suplements</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-database-2-line"></i>
            <h3><a href="">Our products</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section>
  

  <main id="main">

    
     <div class="section-title">
          <h2>About us</h2>
        </div>
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
 
            <h5>Welcome to THE GYM, the latest and modern fitness clubs in Chennai India Located at K.K nagar,ponnampalam colony, MGR nagar,chennai-600078.</h5>
            
              our mission is to provide you with the ultimate fitness experience, one that focuses on your specific fitness needs, helps you achieve the results you are after and invigorates your soul.
              Our vision is to maintain a fitness centre catering for ourphysical wellbeing, thereby improving, building and maintaining a stronger and fitter body condition complimented by a health foods bar to nourish your body's daily fibre and vitamins requirements.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Our professional personal trainers to available in everytime</li>
              <li><i class="ri-check-double-line"></i> Our team's passion is to serve our members with sheer dedication, warm friendliness and joyful helpfulness.</li>
              <li><i class="ri-check-double-line"></i> we proudly fuse fitness with fineness; because here, fitness is a privilege.</li>
            </ul>
            <p>
               our primary goal is to create awareness and easy access to keep your body, mind and spirit, at peak performance.
            </p>
          </div>
        </div>

      </div>
    </section>
      

     <div class="section-title">
          <h2>Abilities</h2>
        </div>
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">
          
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-receipt"></i>
              <h4>Benefits of Gym Workouts</h4>
              <p>Going to the gym every day can help improve your cardiovascular system, strengthen your muscles, help you maintain your weight, boost your mental health and decrease the odds that you will develop other health conditions.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-cube-alt"></i>
              <h4>Advantages of Gym Workouts</h4>
              <p> The advantages of gym workouts are that they provide several different ways to exercise, so going to the gym every day does not have to become boring and tedious.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-images"></i>
              <h4>Products of Gym Workouts</h4>
              <p>the products of gym we can providing for our gym managements like gainers,Raw way Proteins,Fitfoods, Multi vitamins,Fatloss,etc.these are provide for  our managements.</p>
            </div>
          </div>
        </div>

      </div>
    </section>
    
  

    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Check our Services</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href=""> Wide range of exercise equipment</a></h4>
              <p>Provide a mix of cardio and strength training equipment to cater to different workout preferences.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Towel service</a></h4>
              <p>Providing clean towels adds an element of luxury and convenience.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Virtual workout classes</a></h4>
              <p>For those unable to attend in person, virtual classes offer flexibility and inclusivity.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Wi-Fi access</a></h4>
              <p>Many members appreciate the ability to stream music, watch videos, or check emails during their workouts.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Cardio cinema</a></h4>
              <p>Combining cardio workouts with entertainment can make for a more enjoyable exercise experience.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Qualified personal trainers</a></h4>
              <p>Trained professionals can provide guidance, motivate members, and help them achieve their fitness goals.</p>
            </div>
          </div>

        </div>

      </div>
   

   
  
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

      

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>121,ponnampalam Street, vadapalani, chennai-600078</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>abc@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 9790661964</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section>
    

  </main>


  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>GYM_FITNESS</h3>
              <p>
                121,ponnampalam Street <br>
                vadapani,chennai-600078<br><br>
                <strong>Phone:</strong> +91 9790661964<br>
                <strong>Email:</strong> abc@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">exercise equipment</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Towel services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Protein power service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Supplements</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/">virtual workout class</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>In this article, we will delve into fitness newsletter ideas and gym newsletter ideas that cover a wide range of topics to keep your fitness clients and gym members motivated, informed, and on track with their fitness goals.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>
    </div>
  </footer>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>


  <script src="static/assets/js/main.js"></script>

</body>

</html>